/* Header */
.parallaxParent {
    overflow: hidden;
}
.parallaxParent > * {
    height: 200%;
    position: relative;
    top: -100%;
}
#header {
    background-color: white;
    color: #575756;
    z-index: 999999;
    .logo {
        background-image: url('../img/hexenwasser_logo.svg');
        background-size: auto 60px;
        background-position: center left;
        height: 80px;
        background-repeat: no-repeat;
    }
    .nav {
        text-align: right;
        li {
            text-align: center;
            margin: 0;
        }
        .nlabel {
            text-transform: uppercase;
            font-size: 12px;
            padding: 14px;
            margin: 0;
            height: 30px;
            vertical-align: bottom;
            border-right: 2px dotted #575756;
        }
        li:last-child .nlabel {
            border: none;
        }
        .icon {
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 30px;
            height: 50px;
        }
        .infos {
            .icon {
                    background-image: url('../img/info_grau.svg');
            }
        }
        .hexenkarte {
            .icon {
                    background-image: url('../img/hexenkarte_grau.svg');
                }

        }
        .fotovideo {
            .icon {
                    background-image: url('../img/foto_video_grau.svg');
            }

        }
    }
}

.news, .tarife, .anfahrt, .gruppen {
    background-color: #FCF4F4;
    .title {
        background-color: #FCF4F4;
        /* background-color: #F2D3D0; */
    }
    .icon {
        background-image: url('../img/termine.svg');
        background-repeat: no-repeat;
        background-size: auto 30px;
        height: 30px;
        width: 50px;
        display: inline-block;
        float: left;
    }
    h2 {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 30px;
        margin: 0;
        padding: 0;
        float: left;
    }
}

.tarife {
  .icon {
    background-image: url('../img/');
  }
}
.anfahrt {
  .icon {
    background-image: url('../img/');
  }
}
.gruppen {
  .icon {
    background-image: url('../img/');
  }
}


.title {
    background-color: white;
}
